.actrc
.aider*
.claude
.DS_Store
.env
.gitignore
.goreleaser.yaml
.qodo
.ra-aid
.roo
.rooignore
.roomodes
.vscode
build.sh
configs/TestCommand.cfg
coverage*
dist/
memory-bank/
settingssentry
SettingsSentry.zip
test.yaml
todo.txt

AGENTS.md
