.env
.DS_Store
goreleaser.yaml
.goreleaser.yaml
dist/
test.yaml
settingssentry
SettingsSentry.zip
.goreleaser.yaml
.gitignore
.vscode/settings.json
build.sh
todo.txt
#tools/config_updater/
configs/TestCommand.cfg
.aider*
.ra-aid