.env
.DS_Store
dist/
test.yaml
settingssentry
SettingsSentry.zip
.goreleaser.yaml
.gitignore
.vscode
build.sh
todo.txt
configs/TestCommand.cfg
.aider*
.ra-aid
.roo
.rooignore
.roomodes
.gitignore
memory-bank/

